
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:6rem;
  transition: all 0.5s ease;
 
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
}
.dark-nav{
  background-color: #d45c0d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav img{ 
  width: 180px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
nav ul a{
  font-size: 1.5rem;
  margin: 0px 15px;
  text-transform: capitalize;
   color: white;
   text-decoration: none;
   font-weight: 600;
   cursor: pointer;
}

.contact{
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  padding: 14px 20px;
  color: black;
  outline: 0;

}
@media screen and (max-width: 768px) {
  nav{
    padding: 10px 20px;
  }
  nav img{
    width: 150px;
  }
  nav ul{
    display: none;
  }
}
